@{
    this.ViewData["Title"] = "About Diabet T1";
}
<h1>@this.ViewData["Title"]</h1>




        <p>Type 1 diabetes, once known as juvenile diabetes or insulin-dependent diabetes, is a chronic condition in which the pancreas produces little or no insulin. Insulin is a hormone needed to allow sugar (glucose) to enter cells to produce energy.</p>
        <p>Different factors, including genetics and some viruses, may contribute to type 1 diabetes. Although type 1 diabetes usually appears during childhood or adolescence, it can develop in adults.</p>
        <p>Despite active research, type 1 diabetes has no cure. Treatment focuses on managing blood sugar levels with insulin, diet and lifestyle to prevent complications.</p>
