@model ChildGlucoCare.Web.ViewModels.Foods.EditFoodInputModel

@{ this.ViewData["Title"] = "Edit Food";
}

<form method="post" class="col-md-4 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-6 control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=" GramsPerBreadUnit" class="col-md-6 control-label"></label>
        <input asp-for=" GramsPerBreadUnit" class="form-control" />
        <span asp-validation-for=" GramsPerBreadUnit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GlycemicIndex" class="col-md-6 control-label"></label>
        <input asp-for="GlycemicIndex" class="form-control" />
        <span asp-validation-for="GlycemicIndex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarbohydratePer100Grams" class="col-md-6 control-label"></label>
        <input asp-for="CarbohydratePer100Grams" class="form-control" />
        <span asp-validation-for="CarbohydratePer100Grams" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FatPer100Grams" class="col-md-6 control-label"></label>
        <input asp-for="FatPer100Grams" class="form-control" />
        <span asp-validation-for="FatPer100Grams" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CaloriesPer100Grams" class="col-md-6 control-label"></label>
        <input asp-for="CaloriesPer100Grams" class="form-control" />
        <span asp-validation-for="CaloriesPer100Grams" class="text-danger"></span>
    </div>
    <input type="text" asp-for="Id" value="@Model.Id" hidden />
    <button class="btn btn-info btn-block my-4 pill" type="submit">Edit</button>
</form>