@model ChildGlucoCare.Web.ViewModels.InsulinInjections.AddNewInsulinInjectionViewModel
@{ this.ViewData["Title"] = "Add  new Carbohydrate intake";
    var insulinNames = this.Model.InsulinNames.Select(x => new SelectListItem(x.Text, x.Value));
}

<form method="post" class="col-md-4 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div class="form-group">
        <label asp-for="Date" class="col-md-6 control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InsulinDose" class="col-md-6 control-label"></label>
        <input asp-for="InsulinDose" class="form-control" />
        <span asp-validation-for="InsulinDose" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalBeu" class="col-md-6 control-label"></label>
        <input asp-for="TotalBeu" class="form-control" />
        <span asp-validation-for="TotalBeu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentGlucoseLevel" class="col-md-6 control-label"></label>
        <input asp-for="CurrentGlucoseLevel" class="form-control" />
        <span asp-validation-for="CurrentGlucoseLevel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InsulinName"></label>
        <select asp-for="InsulinName" class="form-control" asp-items="insulinNames"></select>
        <span asp-validation-for="InsulinName" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>