@{
    this.ViewData["Title"] = "Added Meal";
}
<h2 class="text-center">@this.ViewData["Title"]</h2>

<h1 class="text-danger text-center font-weight-bold" >The selected food is not appropriate for diabetics!!!</h1>
<h1 class="text-danger text-center font-weight-bold">It is expected the blood glucose to increase seriously in 2 hours and to be needed insulin correction! The blood glucose has to be checked more often in the next 8 hours and to be needed more insulin corrections on every 2 hours.</h1>
