@model ChildGlucoCare.Web.ViewModels.CarbohydtrateIntakes.AddNewCarbohydtrateIntakeViewModel
@using ChildGlucoCare.Data.Models.Enums
@{ this.ViewData["Title"] = "Add  new Carbohydrate intake";
}


<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Date" class="col-md-6 control-label" ></label>
        <input asp-for="Date" class="form-control" value="@DateTime.UtcNow/>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MealType" class="col-md-6 control-label"></label>
        <div>
            <select asp-for="MealType" asp-items="Html.GetEnumSelectList<MealType>()" class="col-md-6 control-label">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="MealType" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="CurrentGlucoseLevel" class="col-md-6 control-label"></label>
            <input asp-for="CurrentGlucoseLevel" class="form-control" />
            <span asp-validation-for="CurrentGlucoseLevel" class="text-danger"></span>
        </div>

        <div id="FoodsContainer">
            <label asp-for="Foods"></label>
            <a class="btn btn-primary" onclick="AddAnotherFood()">+</a>
        </div>
        <hr>
        <input type="submit" class="btn btn-primary" />
</form>

<hr>
<h3> Write above some of the food names from the list below </h3>
<div class="right--3">
    <select asp-for="FoodNames" asp-items="@((Model.FoodNames))">
        <option selected="selected" value="">Please select</option>
    </select>
    <span asp-validation-for="FoodNames" class="text-danger" />
</div>


@section Scripts {
    <script>
        var foodIndex = 0;
        function AddAnotherFood() {
            /*
            $.ajax(
                {
                    url: '/CarbohydrateIntakes/GetFoodNames',
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        debugger;
                        var dropDown = '<select id="FoodNames" multiple="multiple" name="FoodNames" class="valid" aria-invalid="false">';
                        dropDown += '<option selected="selected" value="">Please select</option>';
                        for (var i = 0; i < data.length; i++) {
                            var option = `<option value="${i.toString()}"> ${data[i].name}</option>`
                            dropDown += option;
                        }
                        dropDown += '</select>';
                 
                        $("#FoodsContainer").
                            append("<div class='form-control-auto'>" + dropDown + " Amount: <input type='text' name='Foods[" + foodIndex + "].Amount' /></div>");
                        foodIndex++;
                    },
                    error: function () {
                        alert("error");
                    }
                });
            */

            $("#FoodsContainer").
                append("<div class='form-control-auto'>Food: <input type='text' name='Foods[" + foodIndex + "].FoodName' /> Amount: <input type='text' name='Foods[" + foodIndex + "].Amount' /></div>");
            foodIndex++;
        }
    </script>

}

