@model ChildGlucoCare.Web.ViewModels.Insulins.EditInsulinInputModel

@{ this.ViewData["Title"] = "Edit Insulin Profile data";
}

<form method="post" class="col-md-4 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-6 control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
        <div class="form-group">
            <label asp-for="Taken" class="col-md-6 control-label"></label>
            <input asp-for="Taken" class="form-control" />
            <span asp-validation-for="Taken" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Onset" class="col-md-6 control-label"></label>
            <input asp-for="Onset" class="form-control" />
            <span asp-validation-for="Onset" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-6 control-label"></label>
            <input asp-for="Duration" class="form-control" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Peak" class="col-md-6 control-label"></label>
            <input asp-for="Peak" class="form-control" />
            <span asp-validation-for="Peak" class="text-danger"></span>
        </div>
        <input type="text" asp-for="Id" value="@Model.Id" hidden />
        <button class="btn btn-info btn-block my-4 pill" type="submit">Edit</button>
</form>