@model ChildGlucoCare.Web.ViewModels.SportActivities.AddSportActivityViewModel
@{ this.ViewData["Title"] = "Add  new Sport activity";
}

<form method="post" class="col-md-4 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Date" class="col-md-6 control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SportName" class="col-md-6 control-label"></label>
        <input asp-for="SportName" class="form-control" />
        <span asp-validation-for="SportName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration" class="col-md-6 control-label"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-6 control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
