@{
    this.ViewData["Title"] = "You have succesfully added your current Blood Glucose!";
}
<h2 class="text-center">@this.ViewData["Title"]</h2>

<h1 class="text-success text-center"> Very well! Your blood sugar is in range.</h1>
