@{
    this.ViewData["Title"] = "Added Blood Glucose";
}
<h2 class="text-center">@this.ViewData["Title"]</h2>

<h1 class="text-danger text-center">Your Blood glucose is low! you have immediately to eat some fast sugar! </h1>

