@model ChildGlucoCare.Web.ViewModels.BloodGlucoses.EditBloodGlucoseInputModel
@{
    ViewData["Title"] = "Edit Blood glucose";
}
<form method="post" class="col-md-4 offset-md-3"
      enctype="multipart/form-data">
    <h1>Edit Blood Glucose record</h1>
    <div class="form-group">
        <label asp-for="CurrentGlucoseLevel" class="col-md-6 control-label"></label>
        <input asp-for="CurrentGlucoseLevel" class="form-control" />
        <span asp-validation-for="CurrentGlucoseLevel" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
