@{
    this.ViewData["Title"] = "About Diabet T1";
}
<h1  class="text-center">@this.ViewData["Title"]</h1>

<section>
    <p>Type 1 diabetes is a lifelong disease that affects the body's ability to convert glucose from food into energy. In most cases, type 1 diabetes develops early in life and is often diagnosed during childhood.</p>
    <p>
        Different factors, including genetics and some viruses, may contribute to type 1 diabetes. The disease starts when the immune system attacks cells in the pancreas that produce insulin,
        the hormone that helps convert glucose into energy for the body's cells. Without daily injections of insulin, people living with type 1 would not be able to survive.
    </p>
    <p>Despite active research, type 1 diabetes has no cure. Treatment focuses on managing blood sugar levels with insulin, diet and lifestyle to prevent complications.</p>
    <p>
        Making daily entries in Diabetic diary is very important for every diabetic.
        When keeping a food diary to understand the relationship between carbohydrates,
        exercise, and their blood glucose level, the diabetic can get results very quickly and
        achieve better control of blood glucose.
    </p>
</section>
<section>
    <h3>  Facts about type 1 diabetes:</h3>
    <ul>
        <li>
            Over 1.1m children and adolescents are living with type 1 diabetes globally.
        </li>
        <li>
            About  56% of people with diabetes worry about the risk of hypoglycaemia.
        </li>
        <li>
            About   60%+ of family members of people with diabetes are worried about the risk of hypoglycaemia to their loved one.
        </li>
    </ul>
    
    <img class="img-center"src="@Url.Content("~/images/imageAbout.png")" alt="" />

</section>