@using ChildGlucoCare.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h1>This site is made to help of children and their parents to manage Diabet T1 and to accomplish better control of blood glucose levels. </h1>


</div>

