
@{
    ViewData["Title"] = "User dashboard";
}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2">
                    <span><h1><i class="fas fa-burn"></i> Blood Glucose  </h1></span>   
                </div>
            </div>
            <div class="col">
                <span><h1><i class="fas fa-running"></i>  Sport Activity Sport Activity Level  </h1></span>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <span><h1><i class="fas fa-syringe"></i>  Insulin Injection  </h1> </span>
            </div>
            <div class="col">
                <span><h1><i class="fas fa-hamburger"></i>  Meal BEU  </h1></span>
            </div>
        </div>
    </div>
</div>