@using ChildGlucoCare.Common
@model ChildGlucoCare.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="col-md-4">
    <p>We have:</p>
    <ul class="list-group">
        <li class="list-group-item bg-info">DiabeticDiaries: @Model.DiabeticDiariesCount</li>
        <li class="list-group-item bg-info">Foods: @Model.FoodsCount</li>
    </ul>
</div>

